= content_for :header do
  Messages
= content_for :title do
  - if @search
    Search results for '#{@search}'
  - if @box == 'inbox'
    Inbox
  - if @box == 'sent'
    Sent
  - if @box == 'trash'
    Trash
= form_tag trash_messages_path, method: :delete do
  = hidden_field_tag 'current_box', @box
  %table#box{:width => "100%"}
    %tr
      - unless @box == 'trash'
        %th
      %th Sender
      %th Subject
      %th Messages
      %th
    - @messages.each do |m|
      %tr{ class: "#{ 'unread' if m.is_unread?(current_messaging_user) }" }
        - unless @box == 'trash'
          %td= check_box_tag '', m.id, false, class: 'delete_multiple_checkbox', name: "conversations[]"
        %td= link_to m.last_sender, message_path(m)
        %td= link_to m.subject, message_path(m)
        %td= link_to m.count_messages, message_path(m)
        %td= link_to truncate(m.last_message.body), message_path(m)
  - unless @box == 'trash'
    = submit_tag "Delete checked messages", id: 'delete_multiple_button'
