= content_for :header do
  = t('label',:scope => 'navigations.vertical_menu.messages')
%h3
  = t('compose',:scope => 'navigations.vertical_menu.messages')
#compose
  = simple_form_for @message do |f|
    = f.label :recipients, required: false
    = f.input_field :recipients, data: { autocomplete_source: MessagingUser.all.map(&:name) }
    = f.label :subject, required: false
    = f.input_field :subject
    = f.label :body, required: false
    = f.input_field :body, as: :text
    = f.input :attachment, as: :file
    = f.button :submit, 'Send message', :class => "nice radius"
