<!DOCTYPE html>
<%= render :partial => '/refinery/html_tag' %>
  <% site_bar = render(:partial => '/refinery/site_bar', :locals => {:head => true}) -%>
  <%= render :partial => '/refinery/head' %>
  <script type="text/javascript">
      // Edit to suit your needs.
    var ADAPT_CONFIG = {
      path: '<%= request.protocol %><%= request.host %>:<%= request.port %>',
      dynamic: true,
      range: [
        '0px    to 760px  = <%= asset_path('messaging/mobile.css') %>',
        '760px  to 980px  = <%= asset_path('messaging/720.css') %>',
        '980px  to 1280px = <%= asset_path('messaging/960.css') %>',
        '1280px to 1600px = <%= asset_path('messaging/1200.css') %>',
        '1600px = <%= asset_path('messaging/1560.css') %>',
      ]
    };
  </script>
  <%= javascript_include_tag "messaging/adapt"%>
  <%= javascript_include_tag "messaging/application"%>
  <body>
    <%#= site_bar -%>
    <%= render :partial => '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div id="page_container" class="container row">
      <header id="header">
        <%= render :partial => '/refinery/header' -%>
      </header>
      <section id="page">
        <section id="body_content">
          <h1 id="body_content_title">Messages</h1>
          <section id="body_content_left">
            <div class="inner">
              <%= link_to "Compose", new_message_path, :class => 'compose' %>
              <% if @box == 'inbox' %>
                <%= link_to "Inbox", messages_path(:box => 'inbox'), :class => 'selected' %>
              <% else %>
                <%= link_to "Inbox", messages_path(:box => 'inbox') %>
              <% end %>
              <% if @box == 'sent' %>
                <%= link_to "Sent", messages_path(:box => 'sent'), :class => 'selected' %>
              <% else %>
                <%= link_to "Sent", messages_path(:box => 'sent') %>
              <% end %>
              <% if @box == 'trash' %>
                <%= link_to "Trash", messages_path(:box => 'trash'), :class => 'selected' %>
              <% else %>
                <%= link_to "Trash", messages_path(:box => 'trash') %>
              <% end %>
              <%= form_tag search_path do %>
                <input type="search" placehoder="Search" name="Search"/>
              <% end %>
            </div>
          </section>
          <section id="body_content_right">
            <div class="inner">
              <%= yield %>
            </div>
          </section>
        </section>
      </section>
      <footer>
        <%= render :partial => '/refinery/footer' -%>
      </footer>
    </div>
    <%= render :partial => '/refinery/javascripts' %>
  </body>
</html>
