.avatar-block
  %div
    - if @project.avatar
      = image_tag @project.avatar, :style => "width: 138px;", :alt => @project.name
    - else
      %img{:alt => "default", :src => "/assets/default-avatar.jpg"}
.contact-information
  %h3
    = @project.name
  - contact = Contact.find(:first, :conditions => { :contactable_type => "Project", :contactable_id=>"#{@project.id}"})
  %ul
    %li
      = "#{t('helpers.label.contact.address1')}:"
      = contact.address1 if contact
    %li
      = "#{t('helpers.label.contact.address2')}:"
      = contact.address2 if contact
    %li
      = "#{t('helpers.label.region.country')}:"
      = contact.region.country if contact && contact.region
    %li
      = "#{t('helpers.label.region.state')}:"
      = contact.region.state if contact && contact.region
    %li
      = "#{t('helpers.label.contact.city')}:"
      = contact.city if contact
    %li
      = "#{t('helpers.label.contact.zip')}:"
      = contact.zip if contact
    %li
      = "#{t('helpers.label.contact.phone')}:"
      = contact.phone if contact
.about_bar
  %span= "#{t('navigations.project.about')}:"
  %br/
  %p
    = contact.about if contact
