= stylesheet_link_tag    "application", "jquery_ui"
= javascript_include_tag "application", "jquery_ui"
#middle_content
  #left_container.left
    #edit_profile
      = form_for @project, :html => {:class => "simple_form"} do |f|
        %h2.blue_header#edit_profile_links
          .left
            = link_to_function 'General', "$('.partial_profile').hide();$('#general').show();", :class => "title_link"
            = link_to_function 'Teaser', "$('.partial_profile').hide();$('#teaser').show();", :class => "title_link"
            = link_to_function 'Business Page', "$('.partial_profile').hide();$('#business').show();", :class => "title_link"
            = link_to_function 'Market Analysis', "$('.partial_profile').hide();$('#market').show();", :class => "title_link"
            = link_to_function 'Competitors', "$('.partial_profile').hide();$('#competitor_one').show();", :class => "title_link"
            = link_to_function 'Strategy', "$('.partial_profile').hide();$('#strategy').show();", :class => "title_link"
            = link_to_function 'Progression', "$('.partial_profile').hide();$('#progression').show();", :class => "title_link"
            = link_to_function 'Finance', "$('.partial_profile').hide();$('#finance').show();", :class => "title_link"
            = link_to_function 'Summary', "$('.partial_profile').hide();$('#summary').show();", :class => "title_link"
            = link_to_function 'Company', "$('.partial_profile').hide();$('#company').show();", :class => "title_link"
            = link_to_function 'Thoughts and wishes', "$('.partial_profile').hide();$('#thoughts').show();", :class => "title_link"
        #general.partial_profile
          .field
            = f.label :name
            = f.text_field :name
          = f.fields_for :contact_attributes do |fc|
            .field
              = fc.label :address1
              = fc.text_field :address1, :class => 'larger widest'
            .field
              = fc.label :address2
              = fc.text_field :address2, :class => 'larger widest'
            .field
              = fc.label :city
              = fc.text_field :city, :class => 'larger widest'
            .field
              = fc.label :zip, "Zip/Postal code"
              = fc.text_field :zip, :class => 'larger widest'
        #teaser.partial_profile.hidden
          .field
            = f.label :owner_name
            = f.text_field :owner_name
          .field
            = f.label :category
            = select(:project, :category_id, Category.find(:all).collect{|s| [ s.title, s.id ] }, { :include_blank => true })
          .field
            = f.label :usage
            = f.text_area :usage
          .field
            = f.label :solves
            = f.text_area :solves
          .field
            = f.label :idea
            = f.text_area :idea
        #business.partial_profile.hidden
          .field
            = f.label :description
            = f.text_area :description
        #market.partial_profile.hidden
          .field
            = f.label :market
            = f.text_area :market
        #competitor_one.partial_profile.hidden
          .field
            = f.label :competitors
            = f.text_area :competitors
          .field
            = f.label :competitors2
            = f.text_area :competitors2
        #strategy.partial_profile.hidden
          .field
            = f.label :strategy
            = f.text_area :strategy
        #progression.partial_profile.hidden
          .field
            = f.label :progression
            = f.text_area :progression
        #finance.partial_profile.hidden
          .field
            = f.label :finances
            = f.text_area :finances
        #summary.partial_profile.hidden
          .field
            = f.label :summary
            = f.text_area :summary
        #company.partial_profile.hidden
          .field
            = f.label :developed
            = f.text_field :developed
          .field
            = f.label :need_company
            = f.check_box :need_company
          .field
            = f.label :founder
            = f.check_box :founder
          .field
            = f.label :develop_in_own_company
            = f.check_box :develop_in_own_company
        #thoughts.partial_profile.hidden
          .field
            = f.label :partners
            = f.text_area :partners
          .field
            = f.label :suppliers
            = f.text_area :suppliers
          .field
            = f.label :distributers
            = f.text_area :distributers
          .field
            = f.label :patenting
            = f.text_area :patenting
          .field
            = f.label :origin
            = f.text_area :origin
          .field
            = f.label :marked_geographic
            = f.text_area :marked_geographic
          .field
            = f.label :marked_size
            = f.text_area :marked_size

        .actions
          = f.submit 'Save'
