= stylesheet_link_tag    "application", "jquery_ui"
= javascript_include_tag "application", "jquery_ui"
#middle_content
  #left_container.left
    #edit_profile
      = form_for @project, :html => {:class => "simple_form"} do |f|
        %h2.blue_header#edit_profile_links
          .left
            = link_to_function 'General', "$('.partial_profile').hide();$('#general').show();", :class => "title_link"
            = link_to_function 'Teaser', "$('.partial_profile').hide();$('#teaser').show();", :class => "title_link"
            = link_to_function 'Business Page', "$('.partial_profile').hide();$('#business').show();", :class => "title_link"
            = link_to_function 'Market Analysis', "$('.partial_profile').hide();$('#market').show();", :class => "title_link"
            = link_to_function 'Competitors', "$('.partial_profile').hide();$('#competitor_one').show();", :class => "title_link"
            = link_to_function 'Strategy', "$('.partial_profile').hide();$('#strategy').show();", :class => "title_link"
            = link_to_function 'Progression', "$('.partial_profile').hide();$('#progression').show();", :class => "title_link"
            = link_to_function 'Finance', "$('.partial_profile').hide();$('#finance').show();", :class => "title_link"
            = link_to_function 'Summary', "$('.partial_profile').hide();$('#summary').show();", :class => "title_link"
            = link_to_function 'Company', "$('.partial_profile').hide();$('#company').show();", :class => "title_link"
            = link_to_function 'Attachments', "$('.partial_profile').hide();$('#attachment').show();", :class => "title_link"
            = link_to_function 'Thoughts & wishes', "$('.partial_profile').hide();$('#thoughts').show();", :class => "title_link"
        #general.partial_profile
          .field
            = f.label :name
            = f.text_field :name
          = f.fields_for :contact_attributes do |fc|
            .field
              = fc.label :address1
              = fc.text_field :address1, :class => 'larger widest'
            .field
              = fc.label :address2
              = fc.text_field :address2, :class => 'larger widest'
            .field
              = fc.label :city
              = fc.text_field :city, :class => 'larger widest'
            .field
              = fc.label :zip, "Zip/Postal code"
              = fc.text_field :zip, :class => 'larger widest'
        #teaser.partial_profile.hidden
          .field
            = f.label :owner_name
            = f.text_field :owner_name
          .field
            = f.label :category
            = select(:project, :category_id, Category.find(:all).collect{|s| [ s.title, s.id ] }, { :include_blank => true })
          .field
            = f.label :usage
            = f.text_area :usage
          .field
            = f.label :solves
            = f.text_area :solves
          .field
            = f.label :idea
            = f.text_area :idea
        #business.partial_profile.hidden
          .field
            = f.label :description
            = f.text_area :description
        #market.partial_profile.hidden
          .field
            = f.label :market
            = f.text_area :market
        #competitor_one.partial_profile.hidden
          .field
            = f.label :competitors
            = f.text_area :competitors
          .field
            = f.label :competitors2
            = f.text_area :competitors2
        #strategy.partial_profile.hidden
          .field
            = f.label :strategy
            = f.text_area :strategy
        #progression.partial_profile.hidden
          .field
            = f.label :progression
            = f.text_area :progression
        #finance.partial_profile.hidden
          .field
            = f.label :finances
            = f.text_area :finances
        #summary.partial_profile.hidden
          .field
            = f.label :summary
            = f.text_area :summary
        #company.partial_profile.hidden
          .field
            = f.label :developed
            = f.text_field :developed
          .field
            = f.label :need_company
            = f.check_box :need_company
          .field
            = f.label :founder
            = f.check_box :founder
          .field
            = f.label :develop_in_own_company
            = f.check_box :develop_in_own_company
        #attachment.partial_profile.hidden
          = f.fields_for :document do |p|
            %table{:cellpadding => 0, :cellspacing => 0, :width => '100%'}
              %tr
                %td
                  = p.file_field :file
                %td
                  #at1= link_to_function "add another attachment", "$('#file1').show();$('#at1').hide();$('#at2').show()"
                  #at2.hidden= link_to_function "add another attachment", "$('#file2').show();$('#at2').hide();$('#at3').show()"
                  #at3.hidden= link_to_function "add another attachment", "$('#file3').show();$('#at3').hide();$('#at4').show()"
                  #at4.hidden= link_to_function "add another attachment", "$('#file4').show();$('#at4').hide();$('#at5').show()"
                  #at5.hidden= link_to_function "add another attachment", "$('#file5').show();$('#at5').hide();$('#at6').show()"
                  #at6.hidden= link_to_function "add another attachment", "$('#file6').show();$('#at6').hide();$('#at7').show()"
                  #at7.hidden= link_to_function "add another attachment", "$('#file7').show();$('#at7').hide();$('#at8').show()"
                  #at8.hidden= link_to_function "add another attachment", "$('#file8').show();$('#at8').hide();$('#at9').show()"
                  #at9.hidden= link_to_function "add another attachment", "$('#file9').show();$('#at9').hide();$('#at1').show()"
              %tr{:id=>"file1", :class=>"hidden"}
                %td
                  = p.file_field :file1
                  = link_to_function "Remove", "$('#file1').remove()"
              %tr{:id=>"file2", :class=>"hidden"}
                %td
                  = p.file_field :file2
                  = link_to_function "Remove", "$('#file2').remove()"
              %tr{:id=>"file3", :class=>"hidden"}
                %td
                  = p.file_field :file3
                  = link_to_function "Remove", "$('#file3').remove()"
              %tr{:id=>"file4", :class=>"hidden"}
                %td
                  = p.file_field :file4
                  = link_to_function "Remove", "$('#file4').remove()"
              %tr{:id=>"file5", :class=>"hidden"}
                %td
                  = p.file_field :file5
                  = link_to_function "Remove", "$('#file5').remove()"
              %tr{:id=>"file6", :class=>"hidden"}
                %td
                  = p.file_field :file6
                  = link_to_function "Remove", "$('#file6').remove()"
              %tr{:id=>"file7", :class=>"hidden"}
                %td
                  = p.file_field :file7
                  = link_to_function "Remove", "$('#file7').remove()"
              %tr{:id=>"file8", :class=>"hidden"}
                %td
                  = p.file_field :file8
                  = link_to_function "Remove", "$('#file8').remove()"
              %tr{:id=>"file9", :class=>"hidden"}
                %td
                  = p.file_field :file9
                  = link_to_function "Remove", "$('#file9').remove()"
        #thoughts.partial_profile.hidden
          .field
            = f.label :partners
            = f.text_area :partners
          .field
            = f.label :suppliers
            = f.text_area :suppliers
          .field
            = f.label :distributers
            = f.text_area :distributers
          .field
            = f.label :patenting
            = f.text_area :patenting
          .field
            = f.label :origin
            = f.text_area :origin
          .field
            = f.label :marked_geographic
            = f.text_area :marked_geographic
          .field
            = f.label :marked_size
            = f.text_area :marked_size

        .actions
          = f.submit 'Save', :class => "nice_btn"
