= content_for :javascripts do
  = javascript_include_tag('projects')
  = states_by_country
#middle_content
  #left_container.left
    #edit_project
      - @user = current_refinery_user
      %div
        %ul#tab-headers
          %li
            = link_to 'General', "#"
            &rarr;
          %li
            = link_to 'Teaser', "#"
            &rarr;
          %li
            = link_to 'Business Page', "#"
            &rarr;
          %li
            = link_to 'Product Description', "#"
            &rarr;
          %li
            = link_to 'Market Analysis', "#"
            &rarr;
          %li
            = link_to 'Competitors Analysis', "#"
            &rarr;
          %li
            = link_to 'Strategy', "#"
            &rarr;
          %li
            = link_to 'Progression Plan', "#"
            &rarr;
          %li
            = link_to 'Financer', "#"
            &rarr;
          %li
            = link_to 'Summary', "#"
            &rarr;
          %li
            = link_to 'Attachments', "#"
            &rarr;
          %li
            = link_to 'Thoughts & wishes', "#"
            &rarr;
          %li
            = link_to 'Payment', "#"

        %div#tab-panes
          #general.partial_profile
            = render :partial => "general"
          = render :partial => "teaser"
          = render :partial => "wymeditor", :locals => {:label => :business, :field => :business}
          = render :partial => "wymeditor", :locals => {:label => :product, :field => :product_description}
          = render :partial => "wymeditor", :locals => {:label => :market_analysis, :field => :market}
          = render :partial => "wymeditor", :locals => {:label => :competitors, :field => :competitors}
          = render :partial => "wymeditor", :locals => {:label => :strategy, :field => :strategy}
          = render :partial => "wymeditor", :locals => {:label => :progression, :field => :progression}
          = render :partial => "wymeditor", :locals => {:label => :financer, :field => :finances}
          = render :partial => "wymeditor", :locals => {:label => :summary, :field => :summary}
          #attachments.partial_profile.hidden
            = render :partial => "attachments"
          = render :partial => "thoughts"
          = render :partial => "payment"
        = render :partial => "form_actions"
          