= content_for :javascripts do
  = javascript_include_tag('projects')
  = states_by_country
#middle_content
  #left_container.left
    #edit_project
      %div
        %ul#tab-headers
          %li
            = link_to t('general',:scope => 'navigations.project'), "#"
            &rarr;
          %li
            = link_to t('teaser',:scope => 'navigations.project'), "#"
            &rarr;
          %li
            = link_to t('business_page',:scope => 'navigations.project'), "#"
            &rarr;
          %li
            = link_to t('product_description',:scope => 'navigations.project'), "#"
            &rarr;
          %li
            = link_to t('market_analysis',:scope => 'navigations.project'), "#"
            &rarr;
          %li
            = link_to t('competitors_analysis',:scope => 'navigations.project'), "#"
            &rarr;
          %li
            = link_to t('strategy',:scope => 'navigations.project'), "#"
            &rarr;
          %li
            = link_to t('progression_plan',:scope => 'navigations.project'), "#"
            &rarr;
          %li
            = link_to t('financer',:scope => 'navigations.project'), "#"
            &rarr;
          %li
            = link_to t('summary',:scope => 'navigations.project'), "#"
            &rarr;
          %li
            = link_to t('attachments',:scope => 'navigations.project'), "#"
            &rarr;
          %li
            = link_to t('thoughts_and_wishes',:scope => 'navigations.project'), "#"
            &rarr;
          %li
            = link_to t('payment',:scope => 'navigations.project'), "#"

        %div#tab-panes
          #general.partial_profile
            = render :partial => "general"
          = render :partial => "teaser"
          = render :partial => "wymeditor", :locals => {:label => :business, :field => :business}
          = render :partial => "wymeditor", :locals => {:label => :product, :field => :product_description}
          = render :partial => "wymeditor", :locals => {:label => :market_analysis, :field => :market}
          = render :partial => "wymeditor", :locals => {:label => :competitors, :field => :competitors}
          = render :partial => "wymeditor", :locals => {:label => :strategy, :field => :strategy}
          = render :partial => "wymeditor", :locals => {:label => :progression, :field => :progression}
          = render :partial => "wymeditor", :locals => {:label => :financer, :field => :finances}
          = render :partial => "wymeditor", :locals => {:label => :summary, :field => :summary}
          #attachments.partial_profile.hidden
            = render :partial => "attachments"
          = render :partial => "thoughts"
          = render :partial => "payment"
        = render :partial => "form_actions"
          