= f.fields_for :document do |p|
  %table{:cellpadding => 0, :cellspacing => 0, :width => '100%', :class => "new_attachments"}
    - if !@project.document || @project.document["file"].blank?
      %tr{:id=>"file", :class=>"hidden"}
        %td
          = p.file_field :file
          = link_to "Remove", "#", :class => "remove"
    - if !@project.document || @project.document["file1"].blank?
      %tr{:id=>"file1", :class=>"hidden"}
        %td
          = p.file_field :file1
          = link_to "Remove", "#", :class => "remove"
    - if !@project.document || @project.document["file2"].blank?
      %tr{:id=>"file2", :class=>"hidden"}
        %td
          = p.file_field :file2
          = link_to "Remove", "#", :class => "remove"
    - if !@project.document || @project.document["file3"].blank?
      %tr{:id=>"file3", :class=>"hidden"}
        %td
          = p.file_field :file3
          = link_to "Remove", "#", :class => "remove"
    - if !@project.document || @project.document["file4"].blank?
      %tr{:id=>"file4", :class=>"hidden"}
        %td
          = p.file_field :file4
          = link_to "Remove", "#", :class => "remove"
    - if !@project.document || @project.document["file5"].blank?
      %tr{:id=>"file5", :class=>"hidden"}
        %td
          = p.file_field :file5
          = link_to "Remove", "#", :class => "remove"
    - if !@project.document || @project.document["file6"].blank?
      %tr{:id=>"file6", :class=>"hidden"}
        %td
          = p.file_field :file6
          = link_to "Remove", "#", :class => "remove"
    - if !@project.document || @project.document["file7"].blank?
      %tr{:id=>"file7", :class=>"hidden"}
        %td
          = p.file_field :file7
          = link_to "Remove", "#", :class => "remove"
    - if !@project.document || @project.document["file8"].blank?
      %tr{:id=>"file8", :class=>"hidden"}
        %td
          = p.file_field :file8
          = link_to "Remove", "#", :class => "remove"
    - if !@project.document || @project.document["file9"].blank?
      %tr{:id=>"file9", :class=>"hidden"}
        %td
          = p.file_field :file9
          = link_to "Remove", "#", :class => "remove"
  = link_to "Attach a file", "#", :class => "new-attachment"