%span#options
  %a{:href => "javascript:parentAccordion.pr(1)"}
    = t('general_ui.show_all')
  |
  %a{:href => "javascript:parentAccordion.pr(-1)"}
    = t('general_ui.hide_all')
%ul#acc.acc.clear
  - if current_user && current_user.can_edit_project?(@project)
    %li.general
      %h3
        = t('general',:scope => 'navigations.project')
        = render :partial => "form_actions"
      .acc-section
        #general.acc-content
          = render :partial => "general"
  %li.about
    %h3
      = t('about',:scope => 'navigations.project')
      = render :partial => "form_actions"
    .acc-section
      #about.acc-content
        = render :partial => "about"
  - if current_user && current_user.can_view_project?(@project)
    %li.thoughts
      %h3
        = t('thoughts_and_wishes',:scope => 'navigations.project')
        = render :partial => "form_actions"
      .acc-section
        #thoughts.acc-content
          = render :partial => "thoughts"
    %li.attachments
      %h3
        = t('attachments',:scope => 'navigations.project')
        = render :partial => "form_actions"
      .acc-section
        #attachments.acc-content
          = render :partial => "attachments"
    - SectionType.where(:parent_id => 0).each do |section_type|
      %li
        %h3
          = section_type.title
        .acc-section
          .acc-content
            %ul#nested.acc
              - section_type.children.each do |sub_section_type|
                %li.section
                  %h3
                    = sub_section_type.title
                    = render :partial => "form_actions"
                  .acc-section
                    .acc-content{:id => "HtmlSection#{sub_section_type.id}"}
                      = render :partial => "wymeditor", :locals => {:section_type => sub_section_type}
:javascript
  var parentAccordion=new TINY.accordion.slider("parentAccordion");
  parentAccordion.init("acc","h3",1,-1);

  var nestedAccordion=new TINY.accordion.slider("nestedAccordion");
  nestedAccordion.init("nested","h3",1,-1,"acc-selected");