<%= stylesheet_link_tag    "application", "jquery_ui"%>
<%= javascript_include_tag "application", "jquery_ui"%>
<h1>Listing projects</h1>

<table>
  <tr>
    <th>Owner name</th>
    <th>Name</th>
    <th>Usage</th>
    <th>Solves</th>
    <th>Idea</th>
    <th>Description</th>
    <th>Market</th>
    <th>Competitors</th>
    <th>Strategy</th>
    <th>Progression</th>
    <th>Finances</th>
    <th>Summary</th>
    <th>Marked geographic</th>
    <th>Marked size</th>
    <th>Developed</th>
    <th>Need company</th>
    <th>Founder</th>
    <th>Develop in own company</th>
    <th>Partners</th>
    <th>Suppliers</th>
    <th>Distributers</th>
    <th>Patenting</th>
    <th>Competitors2</th>
    <th>Origin</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.owner_name %></td>
    <td><%= project.name %></td>
    <td><%= project.usage %></td>
    <td><%= project.solves %></td>
    <td><%= project.idea %></td>
    <td><%= project.description %></td>
    <td><%= project.market %></td>
    <td><%= project.competitors %></td>
    <td><%= project.strategy %></td>
    <td><%= project.progression %></td>
    <td><%= project.finances %></td>
    <td><%= project.summary %></td>
    <td><%= project.marked_geographic %></td>
    <td><%= project.marked_size %></td>
    <td><%= project.developed %></td>
    <td><%= project.need_company %></td>
    <td><%= project.founder %></td>
    <td><%= project.develop_in_own_company %></td>
    <td><%= project.partners %></td>
    <td><%= project.suppliers %></td>
    <td><%= project.distributers %></td>
    <td><%= project.patenting %></td>
    <td><%= project.competitors2 %></td>
    <td><%= project.origin %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project_path(project), :confirm => 'Are you sure?', :method => :delete, :remote => true %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
