= ajaxful_rating_style
= content_for :header do
  Business Plan
= content_for :under_side_bar do
  #contact-info
    = render :partial => "contact"
/ / Left content
%div{:style => "padding-bottom:50px"}
  %span.project-title{:style => "display:inline;"} Hook Tool
  %a.uiButton{:href => "#", :style => "display:inline; margin-left:20px;"} Edit
#tab-menu
  %ul
    %li
      %a{:href => "#"}
        %span Project Home
    %li
      %a{:href => "#"}
        %span Updates
    %li
      %a{:href => "#"}
        %span Partners Needd
    %li
      %a{:href => "#"}
        %span
          = t('payment',:scope => 'navigations.project')
#tab-panes
  %div.project-home.clear
    = render :partial => "project_home"
  %div.project-updates
    Feature under construction.
  %div.project-partners
    Feature under construction.
  %div.project-payment
    = render :partial => "payment"