= ajaxful_rating_style
= content_for :header do
  Business Plan
= content_for :under_side_bar do
  #contact-info
    .avatar-block
      %div
        %img{:alt => "default", :src => "/assets/project/default-avatar.jpg"}
    .contact-information
      %h3 Jason Henry
      %ul
        %li Address : adfasd, adsf asd, etedfgd
        %li Country : United States
        %li City : City
        %li Zip/ Postal Code : 105425
        %li Phone : 0202 000 2022 020
    .about
      %span About
      %br/
      %p We just finished recording our new album, Look Out Mama. We're excited to release it into the world and need.

/ / Left content
%div{:style => "padding-bottom:50px"}
  %span.project-title{:style => "display:inline;"} Hook Tool
  %a.uiButton{:href => "#", :style => "display:inline; margin-left:20px;"} Edit
#tab-menu
  %ul
    %li
      %a{:href => "#"}
        %span Project Home
    %li
      %a{:href => "#"}
        %span Updates
    %li
      %a{:href => "#"}
        %span Partners Needd
    %li
      %a{:href => "#"}
        %span Payments
#tab-panes
  %div.project-home.clear
    = render :partial => "project_home"
  %div.project-updates
    Feature under construction.
  %div.project-partners
    Feature under construction.
  %div.project-payment
    = render :partial => "payment"