<p id="notice"><%= notice %></p>

<p>
  <b>Owner name:</b>
  <%= @project.owner_name %>
</p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Usage:</b>
  <%= @project.usage %>
</p>

<p>
  <b>Solves:</b>
  <%= @project.solves %>
</p>

<p>
  <b>Idea:</b>
  <%= @project.idea %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Market:</b>
  <%= @project.market %>
</p>

<p>
  <b>Competitors:</b>
  <%= @project.competitors %>
</p>

<p>
  <b>Strategy:</b>
  <%= @project.strategy %>
</p>

<p>
  <b>Progression:</b>
  <%= @project.progression %>
</p>

<p>
  <b>Finances:</b>
  <%= @project.finances %>
</p>

<p>
  <b>Summary:</b>
  <%= @project.summary %>
</p>

<p>
  <b>Marked geographic:</b>
  <%= @project.marked_geographic %>
</p>

<p>
  <b>Marked size:</b>
  <%= @project.marked_size %>
</p>

<p>
  <b>Developed:</b>
  <%= @project.developed %>
</p>

<p>
  <b>Need company:</b>
  <%= @project.need_company %>
</p>

<p>
  <b>Founder:</b>
  <%= @project.founder %>
</p>

<p>
  <b>Develop in own company:</b>
  <%= @project.develop_in_own_company %>
</p>

<p>
  <b>Partners:</b>
  <%= @project.partners %>
</p>

<p>
  <b>Suppliers:</b>
  <%= @project.suppliers %>
</p>

<p>
  <b>Distributers:</b>
  <%= @project.distributers %>
</p>

<p>
  <b>Patenting:</b>
  <%= @project.patenting %>
</p>

<p>
  <b>Competitors2:</b>
  <%= @project.competitors2 %>
</p>

<p>
  <b>Origin:</b>
  <%= @project.origin %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
