<% content_for :javascripts do %>
  <% javascript_include_tag('jquery', 'categories', 'regions') %>
<% end %>

<%= form_for :profile, :url => main_app.refinery_profile_path(current_refinery_user) do |f| %>
  <h1>My Categories</h1>
  <%= render :partial => "categories" %>
  <h1>My Locations</h1>
  <%= render :partial => "regions", :locals => { :f => f} %>
  <input type="hidden" value="<%= params[:id] %>" name="id"/>
  <div class="actions"><%= f.submit "Save", :class => "submit" %></div>
  
<% end %>