<% @user.profile = Profile.new unless @user.profile %>
<%= f.fields_for :profile_attributes, @user.profile do |fp| -%>
  <div class='field'>
    <%= fp.label :first_name %>
    <%= fp.text_field :first_name, :class => 'larger widest' %>
  </div>
  <div class='field'>
    <%= fp.label :last_name %>
    <%= fp.text_field :last_name, :class => 'larger widest' %>
  </div>
  <% @user.profile.contact = Contact.new unless @user.profile.contact %>
  <%= fp.fields_for :contact_attributes, @user.profile.contact do |fc| %>
    <div class='field'>
      <%= fc.label :address1 %>
      <%= fc.text_field :address1, :class => 'larger widest' %>
    </div>
    <div class='field'>
      <%= fc.label :address2 %>
      <%= fc.text_field :address2, :class => 'larger widest' %>
    </div>

    <% @user.profile.contact.region = Region.new unless @user.profile.contact.region %>
    <%= fc.fields_for :region_attributes, @user.profile.contact.region do |fr| %>
      <div class="region">
        <div class='field'>
          <%= fr.label :country %>
          <%= fr.country_select :country, "US", {},{:class => "country"} %>
        </div>
        <% country_code = (@user.profile.contact.region.country || "US") %>
        <div class='field state' style="<%= "display:none" unless has_state?(country_code) %>">
          <%= fr.label :state %>
          <% begin %>
            <%= fr.state_select :state, country_code, {}, {:class => "state"} %>
          <% rescue %>
            <select class="state" name="user[profile_attributes][contact_attributes][region_attributes][state]" id="user_profile_attributes_contact_attributes_region_attributes_state"></select>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class='field'>
      <%= fc.label :city %>
      <%= fc.text_field :city, :class => 'larger widest' %>
    </div>
    <div class='field'>
      <%= fc.label :zip, "Zip/Postal code" %>
      <%= fc.text_field :zip, :class => 'larger widest' %>
    </div>
    <div class='field'>
      <%= fc.label :url %>
      <%= fc.text_field :url, :class => 'larger widest' %>
    </div>
    <div class='field'>
      <%= fc.label :phone %>
      <%= fc.text_field :phone, :class => 'larger widest' %>
    </div>
  <% end %>
  <div class='field'>
    <%= fp.label :about %>
    <%= fp.text_area :about, :class => 'larger widest' %>
  </div>
  <div class='field'>
    <%= fp.check_box :receive_newsleter %>
    <%= fp.label :receive_newsleter, :style => "display:inline" %>
  </div>
<% end %>
<% if ["new", "create"].index(action_name) %>
  <%= render :partial => "role_agreements", :locals => {:f => f} %>
  <%= states_by_country %>
  <script>
    $(document).ready(function(){
      $(".field.roles input[type=radio]").change(function(){
        var agreement = $(this).attr("title");
        $(".agreement").hide();
        $("." + agreement + ".agreement").show();
      });

    });
  </script>
<% end %>
