<%= f.fields_for :profile_attributes, @user.profile do |fp| -%>
  <div class='field'>
    <%= fp.label :first_name %>
    <%= fp.text_field :first_name, :class => 'larger widest' %>
  </div>
  <div class='field'>
    <%= fp.label :last_name %>
    <%= fp.text_field :last_name, :class => 'larger widest' %>
  </div>
  <%= fp.fields_for :contact_attributes do |fc| %>
    <div class='field'>
      <%= fc.label :address1 %>
      <%= fc.text_field :address1, :class => 'larger widest' %>
    </div>
    <div class='field'>
      <%= fc.label :address2 %>
      <%= fc.text_field :address2, :class => 'larger widest' %>
    </div>
    <%= fc.fields_for :region_attributes do |fr| %>
      <div class='field'>
        <%= fr.label :country %>
        <%= fr.country_select :country, "US", {},{:class => "country"} %>
      </div>
      <div class='field'>
        <%= fr.label :state %>
        <%= fr.state_select :state, "US", {},{:class => "state"} %>
      </div>
    <% end %>
    <div class='field'>
      <%= fc.label :city %>
      <%= fc.text_field :city, :class => 'larger widest' %>
    </div>
    <div class='field'>
      <%= fc.label :zip, "Zip/Postal code" %>
      <%= fc.text_field :zip, :class => 'larger widest' %>
    </div>
    <div class='field'>
      <%= fc.label :url %>
      <%= fc.text_field :url, :class => 'larger widest' %>
    </div>
  <% end %>
  <div class='field'>
    <%= fp.check_box :receive_newsleter %>
    <%= fp.label :receive_newsleter, :style => "display:inline" %>
  </div>
<% end %>

<div class='field'>
  <%= f.label :role %>
  <% Refinery::Role.where(:title => Refinery::Role.user_roles).each_with_index do |role, i|%>
    <% roles = @user.roles.map{|x| x.id} %>
    <% if(roles.include?(role.id))%>
      <%= f.radio_button :role_ids, role.id, :checked => "checked", :title => role.title.downcase %> <%= role.title %>
    <% else %>
      <%= f.radio_button :role_ids, role.id, :title => role.title.downcase %> <%= role.title %>
    <% end %>
  <% end %>
</div>
<% role = @user.roles.first %>
<div class='field entrepreneur agreement' style="<%= "display:none" unless role.title == "Entrepreneur" %>">
  <%= f.label :term_agreement, "Entrepreneur Agreement", :style => "display:inline" %>
  <span style="float:right">
    <%= link_to "Download PDF version", "/pdfs/entrepreneur-agreement.pdf" %>
  </span>
  <textarea style="width:99%">
    <%= Agreement.entrepreneur %>
  </textarea>
</div>
<div class='field advisor agreement' style="<%= "display:none" unless role.title == "Advisor" %>">
  <%= f.label :term_agreement, "Advisor Agreement", :style => "display:inline" %>
  <span style="float:right">
    <%= link_to "Download PDF version", "/pdfs/advisor-agreement.pdf" %>
  </span>
  <textarea style="width:99%">
    <%= Agreement.advisor %>
  </textarea>
</div>
<div class='field partner agreement' style="<%= "display:none" if ["Advisor", "Entrepreneur"].include?role.title %>">
  <%= f.label :term_agreement, "Partner Agreement", :style => "display:inline" %>
  <span style="float:right">
    <%= link_to "Download PDF version", "/pdfs/partner-agreement.pdf" %>
  </span>
  <textarea style="width:99%">
    <%= Agreement.partner %>
  </textarea>
</div>
<%= states_by_country %>
<script>
  $(document).ready(function(){
    $("input[type=radio]").change(function(){
      var agreement = $(this).attr("title");
      $(".agreement").hide();
      if($("." + agreement).length> 0){
        $("." + agreement).show();
      }else{
        $(".partner").show();
      }
    });

    $(".country").bind("change", function(){
      var country = $(this).val();
      populateState(country);
    });

  });
  function populateState(country){
    var options = states[country];
    if(options == ""){
      $(".state").parents(".field").hide();
    }else{
      $(".state").parents(".field").show();
    }
    $(".state").html(options);
  }
</script>