<div id="footer">
  <div class="footer-blocks fl_left">
    <h3><%= t('footer.om_madlab') %></h3>
  </div>

  <div class="footer-blocks fl_left">
    <h3><%= t('footer.group.services') %></h3>
    <ul>
      <li><a href="#"><%= t('footer.services.entrepreneur') %></a></li>
      <li><a href="#"><%= t('footer.services.companies') %></a></li>
      <li><a href="#"><%= t('footer.services.recommendations') %></a></li>
      <li><a href="#"><%= t('footer.services.recommended_links') %></a></li>
    </ul>
  </div>

  <div class="footer-blocks fl_left">
    <h3><%= t('footer.group.interest_groups') %></h3>
    <ul>
      <li><a href="#"><%= t('footer.interest_groups.contractor') %></a></li>
      <li><a href="#"><%= t('footer.interest_groups.producer') %></a></li>
      <li><a href="#"><%= t('footer.interest_groups.distributor') %></a></li>
      <li><a href="#"><%= t('footer.interest_groups.investor') %></a></li>
    </ul>
  </div>

  <div class="footer-blocks fl_left">
    <h3><%= t('footer.group.news') %></h3>
    <ul>
      <li><a href="#"><%= t('footer.news.from_madLab') %></a></li>
      <li><a href="#"><%= t('footer.news.press') %></a></li>
      <li><a href="http://twitter.com/#!/MadLabNorway"><%= t('footer.news.twitter') %></a></li>
      <li><a href="http://facebook.com/"><%= t('footer.news.facebook') %></a></li>
    </ul>
  </div>

  <div class="footer-blocks fl_left">
    <h3><%= t('footer.group.playground') %></h3>
    <ul>
      <li><a href="#"><%= t('footer.playground.faq') %></a></li>
      <li><a href="#"><%= t('footer.playground.contact_us') %></a></li>
      <li><a href="#"><%= t('footer.playground.affiliates') %></a></li>
    </ul>
  </div>
  <div class="clear_fix"></div>
  <div class="copy-right">
    <a href="#"><%= t('.copyright', :year => Time.now.year,
        :site_name => Refinery::Core.site_name) %></a>
  </div>
</div>