#menu_vert{:class => :pages_link}
  %ul
    %li= link_to "Summary", "#"
    %li= link_to "From MadLab", "#"
    %li= link_to "News", "#"
    %li= link_to "Competitions", "#"
    %li= link_to "Press", "#"
    %li= link_to "Projects", main_app.recent_projects_path