#menu_vert
  - if current_refinery_user
    %ul
      %li= link_to "Overview", "/my-page"
      %li
        = link_to "Messages", "#", :class => "mnu-parent"
        %ul{:style => (controller_name == "messages" ? "" :"display:none"), :class => "mnu-child"}
          %li= link_to "Compose", messaging.new_message_path
          %li= link_to "Inbox", messaging.messages_path(:box => 'inbox')
          %li= link_to "Sent", messaging.messages_path(:box => 'sent')
          %li= link_to "Trash", messaging.messages_path(:box => 'trash')
      - if current_refinery_user && current_refinery_user.can_create_project?
        %li
          = link_to "Projects", "#", :class => "mnu-parent"
          %ul{:style => (controller_name == "projects" ? "" :"display:none"), :class => "mnu-child"}
            - number_projects = (current_refinery_user.admin? ? Project.count : current_refinery_user.projects.count)
            %li= link_to "#{(number_projects == 1 ? "Project" : "Projects")} (#{number_projects})", main_app.projects_path
            %li= link_to "New project", main_app.new_project_path
      - else
        %li= link_to "Projects", main_app.projects_path
      %li= link_to "Personal settings", main_app.edit_refinery_user_url(current_refinery_user)
      %li{:class => "bordernone"}= link_to "Logout", refinery.destroy_refinery_user_session_url
