<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <title><%= content_for?(:title) ? yield(:title) : "Company Name" %></title>

  <!-- Included CSS Files -->
  <%= stylesheet_link_tag "static" %>
  <!-- Included JS Files  -->
  <%= javascript_include_tag "application" %>
  <%= render :partial => '/refinery/html_tag' %>
  <%= render :partial => '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "project" %>
</head>

<body>
<!-- Main Wrapper -->
<div id="main-wrappper">
  <div id="main-holder-1">
  <!--Header-->
    <div id="header">
      <div id="top_menu">
        <%= render :partial => "shared/top_menu" %>
      </div>
      <div id="logo"><img src="/assets/logo_beta.jpg" width="551" height="133" alt="logo" /></div>
    </div>
  <!-- Header-->
  <!--Main Menu-->
    <%= render(:partial => "/refinery/menu", :locals => {
    :dom_id => 'menu',
    :css => 'menu'
    }) %>
  <!--Main Menu-->
  </div>
    
  <!--Content holder-->
  <!-- 
  <div class="banner-top"><img src="/assets/logos/banner.jpg" /></div>
  -->
  <div id="content-area">
    <div id="content-wrapper">
      <h2 class="heading"><%= yield :header %></h2>
      <div id="flash_container">
        <%= render :partial => '/refinery/message' %>
      </div>
      <div id="inner-content-wrapper">
      
        <!--Left Content-->
        <div id="left-colmmn-wrapper" class="fl_left">
          <div class="inner-content-block">
            <%= yield %>
          </div>
        </div>
        <!-- /left Content-->                
        
        <!-- Right Content-->
        <div id="right-column-wrapper" class="fl_right">
          <%= render :partial => "layouts/side_bar" %>
          <%= yield :under_side_bar %>
        <!-- /Right Content-->
        </div>
      
      <!-- inner-content-wrapper-->               
      </div>
    <!-- content-wrapper-->               
    </div> 
  
    <div class="banner-top banner-bottom"><img src="/assets/logos/banner.jpg" /></div>
    <div class="clear_fix"></div>
    <!-- /Content holder-->    
  
    <!--Footer-->
    <div id="footer-wrapper">
      <div id="footer">
        <div class="footer-blocks fl_left">
          <h3>Company Name</h3>
          <ul>
            <li><a href="#">Company Name 1</a></li>
            <li><a href="#">Company Name 2</a></li>
            <li><a href="#">Company Name 3</a></li>
            <li><a href="#">Company Name 4</a></li>
          </ul>
        </div>
                        
        <div class="footer-blocks fl_left">
          <h3>Services</h3>
          <ul>
            <li><a href="#">Services 1</a></li>
            <li><a href="#">Services 2</a></li>
            <li><a href="#">Services 3</a></li>
            <li><a href="#">Services 4</a></li>
          </ul>
        </div>
        
        <div class="footer-blocks fl_left">
          <h3>Interest Groups</h3>
          <ul>
            <li><a href="#">Group 1</a></li>
            <li><a href="#">Group 2</a></li>
            <li><a href="#">Group 3</a></li>
            <li><a href="#">Group 4</a></li>
          </ul>
        </div>
                        
        <div class="footer-blocks fl_left">
          <h3>Interest Groups</h3>
          <ul>
            <li><a href="#">News 1</a></li>
            <li><a href="#">Press Coverage</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ul>
        </div>
        
        <div class="footer-blocks fl_left">
          <h3>Playground</h3>
          <ul>
            <li><a href="#">Faq</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Affiliates</a></li>
          </ul>
        </div>
        <div class="clear_fix"></div>
        <div class="copy-right">
          <a href="#">Copyright &copy; 2012 Company Name</a>
        </div>
      </div>
    </div>
    <!-- /Footer-->
      
  </div>
<!-- /Main Wrapper -->
</div>
</body>
</html>
